<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Style CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <title>AL - Login</title>
</head>
<body>
    <!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-dark sticky-top not-scrolled" id="main-nav">
    <div class="container px-4 px-md-5">
        <a class="navbar-brand" href="/">Alison Lefebvre</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-md-0">
                <li class="nav-item"><a class="nav-link px-md-3 py-3 py-md-4" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link px-md-3 py-3 py-md-4" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link px-md-3 py-3 py-md-4" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link px-md-3 py-3 py-md-4 active" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation -->
    <div id="header-small">
        <div id="header-image"></div>
    </div>
    <div id="spacer-small"></div>
        <div class="container d-flex align-items-center justify-content-center" id="loginContainer">
            <div class="row align-items-center py-5 justify-content-center col-lg-10">
                <div class="col-lg-7 text-center text-lg-start">
                    <!-- Error Message -->
                    <% if(locals.err) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= locals.err %>
                        </div>
                        <% } %>
                            <h1 class="display-4 fw-bold lh-1 mb-3">Login</h1>
                            <p class="col-lg-10 fs-4">Say something cool here.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" action="login" method="POST">
                        <div class="form-floating mb-3">
                            <input name="username" type="username" class="form-control" id="username"
                                placeholder="myusername">
                            <label for="username">User name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="password" type="password" class="form-control" id="password"
                                placeholder="Password">
                            <label for="password">Password</label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                    </form>
                    <div class="text-center text-muted">
                        <p class="fs-4 mt-2">Don't have an account? <a href="/register">Register</a></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</body>

</html>